@import './grid.scss';
@import './animations.scss';

$widthOffsetRight: calc(0.06 * 100vw);

.card-main {
    background-color: $background-color-scondary;
    position: relative;

    & .card-item-1 {
        background-image: url(../../assets/images/rock.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 100%;
        background-position: 100%;
    }

    & .card-item-2 {
        background-image: url(../../assets/images/background.jpg);
        background-repeat: no-repeat;
        height: 100%;

        &.slow-shake {
            animation-play-state: paused;
        }
    }

    & .card-item-3 {
        background: linear-gradient(118deg, $background-color-third 0%, 71%, rgba($background-color-primary, 0) 100%);
        position: relative;
    }

    & .card-item-4 {
        background-image: url(../../assets/images/rocket.png);
        background-repeat: no-repeat;
    }

    & .card-item-5 {
        background-color: $background-color-scondary;
        display: flex;
        flex-direction: column;

        & .footer-title {
            display: none;
        }
    }

    & .card-item-6 {
        display: none;

        &.slow-shake {
            animation-play-state: paused;
        }
    }
}

/* Notebook Portrait and Landscape */
@media only screen and (min-width: 1025px) {
    .card-main {
        flex: 1;
        height: 640px;
        max-width: calc(100vw - #{$widthOffsetRight});

        & .card-item-2 {
            background-size: cover;
            background-position-x: calc(100% * 0.5);
            background-position-y: calc(100% * 0.8);
        }

        & .card-item-3 {
            height: 442px;
            z-index: 1;
        }

        & .card-item-4 {
            background-size: cover;
            background-position-x: 35%;
            position: absolute;
            height: 100%;
            width: calc(100% + #{$widthOffsetRight});
        }

        & .card-item-5 {
            width: 100%;
            height: 258px;
            position: absolute;
            bottom: -60px;
        }

        & .card-item-6 {
            display: block;
            background-image: url(../../assets/images/background.jpg);
            background-position-x: left;
            background-position-y: bottom;
            height: 100%;

            &.slow-shake {
                animation-play-state: running;
            }
        }
    }
}

/* Tablet Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card-main {
        min-height: 100%;
        overflow: auto;

        & .card-item-1 {
            z-index: 1;
            min-height: 554px;
        }

        & .card-item-2 {
            background-size: cover;
            background-position-x: 40%;
            background-position-y: 0px;
            min-height: 700px;

            &.slow-shake {
                animation-play-state: running;
            }
        }

        & .card-item-4 {
            position: relative;
            background-position-x: 35%;
            background-size: cover;
            height: 100%;
            min-height: 500px;
        }

        & .card-item-5 {
            position: absolute;
            width: calc(100% + 60px);
            height: 188px;
            top: 0;
        }
    }
}

/* Phone Portrait and Landscape */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .card-main {
        & .card-item-2 {
            background-size: 1100px;
            background-position-x: 20%;
            background-position-y: 100%;

            &.slow-shake {
                animation-play-state: running;
            }
        }

        & .card-item-3 {
            z-index: 1;
        }

        & .card-item-4 {
            background-size: auto 140%;
            background-position-x: 38%;
            position: relative;
        }

        .card-item-5 {
            background-image: url(../../assets/images/background_moon.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: auto;
            position: inherit;
            bottom: 0;
            background-position: center center;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            & .footer-title {
                display: block;
                position: relative;
                padding: 0 0 60px 25px;
                font-size: 46px;
                margin: 0;
            }
        }
    }
}
