$background-color-primary: #205f5d;
$background-color-scondary: rgb(27, 29, 43);
$background-color-third: rgb(16, 32, 35);

$font-color-primary: rgb(226, 228, 228);
$font-color-accent: rgb(30, 183, 142);

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secodnary: 'Merriweather', serif;

$button-color-accent: rgb(251, 0, 76);
